@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none !important; }

.flexible-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 32px 0; }

.container {
  padding: 0 !important; }

ul {
  list-style: none; }
  ul li {
    display: flex;
    align-items: center; }
    ul li::before {
      display: inline-block;
      margin-right: 4px;
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #F15A59;
      font-size: 16px; }

#homePage #otherInfos-list {
  background: linear-gradient(to left, #333a4b, #232835); }
  #homePage #otherInfos-list .otherInfos-wrapper .otherInfos-container {
    padding: 32px;
    margin-top: 32px; }
    #homePage #otherInfos-list .otherInfos-wrapper .otherInfos-container:nth-child(even) {
      flex-direction: row-reverse; }
      #homePage #otherInfos-list .otherInfos-wrapper .otherInfos-container:nth-child(even) .text-area {
        margin-right: 0;
        margin-left: 32px; }
    #homePage #otherInfos-list .otherInfos-wrapper .otherInfos-container:first-child {
      margin: 0; }
    #homePage #otherInfos-list .otherInfos-wrapper .otherInfos-container .text-area {
      max-width: 480px;
      margin-right: 32px; }
      #homePage #otherInfos-list .otherInfos-wrapper .otherInfos-container .text-area h3 {
        color: #FFFFFF;
        transition: 500ms all ease; }
        #homePage #otherInfos-list .otherInfos-wrapper .otherInfos-container .text-area h3:hover {
          color: #F15A59; }
      #homePage #otherInfos-list .otherInfos-wrapper .otherInfos-container .text-area .stick {
        width: 48px;
        height: 4px;
        background-color: #D21312;
        border-radius: 8px; }
      #homePage #otherInfos-list .otherInfos-wrapper .otherInfos-container .text-area p {
        color: #7B7D7D;
        font-size: 14px;
        font-weight: 300; }
    #homePage #otherInfos-list .otherInfos-wrapper .otherInfos-container .img-area {
      max-width: 480px; }
      #homePage #otherInfos-list .otherInfos-wrapper .otherInfos-container .img-area img {
        width: 100%;
        border-radius: 50% 20% / 10% 40%; }
#homePage #onBoarding-text {
  background: linear-gradient(to left, #333a4b, #232835);
  flex-direction: column;
  text-align: center; }
  #homePage #onBoarding-text h2 {
    color: #FFFFFF;
    transition: 300ms all ease-in-out; }
    #homePage #onBoarding-text h2:hover {
      color: #F15A59 !important; }
  #homePage #onBoarding-text p {
    color: #7B7D7D;
    font-size: 14px;
    font-weight: 300; }
    #homePage #onBoarding-text p a {
      color: #F15A59;
      transition: 500ms all ease-in-out; }
      #homePage #onBoarding-text p a:hover {
        color: #ED2B2A; }
#homePage #yachts-catalog {
  background: #f2f2f2;
  flex-direction: column; }
  #homePage #yachts-catalog p {
    margin: 0; }
  #homePage #yachts-catalog .container {
    margin-bottom: 48px; }
    #homePage #yachts-catalog .container:last-child {
      margin: 0; }
    #homePage #yachts-catalog .container .catalog-card-wrapper {
      border-radius: 8px;
      background: #FFFFFF;
      padding: 32px; }
      #homePage #yachts-catalog .container .catalog-card-wrapper .yacht-name {
        font-size: 48px;
        color: #070A52;
        font-weight: 700; }
      #homePage #yachts-catalog .container .catalog-card-wrapper .yacht-infos-container .yacht-info {
        border-right: 2px solid white;
        background-color: #f2f2f2;
        padding: 8px 16px;
        border-radius: 2px; }
        #homePage #yachts-catalog .container .catalog-card-wrapper .yacht-infos-container .yacht-info .info-title {
          font-size: 14px;
          font-weight: 300; }
        #homePage #yachts-catalog .container .catalog-card-wrapper .yacht-infos-container .yacht-info .info-text {
          font-size: 20px;
          font-weight: 500;
          margin-left: 4px; }
    #homePage #yachts-catalog .container img {
      width: 100%;
      border-top-left-radius: 16px;
      border-bottom-right-radius: 16px; }
    #homePage #yachts-catalog .container .controller-item-wrapper {
      position: relative; }
      #homePage #yachts-catalog .container .controller-item-wrapper .controller-item-container {
        margin-right: 48px; }
        #homePage #yachts-catalog .container .controller-item-wrapper .controller-item-container:after {
          margin: 0; }
        #homePage #yachts-catalog .container .controller-item-wrapper .controller-item-container .controller-item-title {
          font-size: 12px;
          font-weight: 300;
          text-transform: uppercase; }
      #homePage #yachts-catalog .container .controller-item-wrapper i {
        font-size: 24px;
        color: #D21312;
        margin-right: 16px; }
      #homePage #yachts-catalog .container .controller-item-wrapper .btn {
        padding: 12px 24px !important;
        border-radius: 8px;
        border: 2px solid #D21312;
        color: #D21312;
        font-weight: 700;
        transition: 500ms all ease-out; }
        #homePage #yachts-catalog .container .controller-item-wrapper .btn:hover {
          background-color: #F15A59;
          color: #FFFFFF;
          transform: scale(1.1); }

/*# sourceMappingURL=myStyle.css.map */
