@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none !important; }

.flexible-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 32px 0; }

.container {
  padding: 0 !important; }

ul {
  list-style: none; }
  ul li {
    display: flex;
    align-items: center; }
    ul li::before {
      display: inline-block;
      margin-right: 4px;
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #F15A59;
      font-size: 16px; }

header {
  margin-bottom: 24px; }
  header .topBody {
    border-bottom: 2px solid #f2f2f2; }
    header .topBody a {
      color: #070A52;
      font-weight: bold;
      transition: 500ms all ease; }
      header .topBody a:hover {
        color: #D21312; }
      header .topBody a i {
        margin-right: 6px; }
    header .topBody img {
      height: 80px; }
  header nav {
    padding: 12px 0; }
    header nav a {
      color: #070A52;
      font-weight: 700;
      margin-right: 20px;
      transition: 300ms all ease;
      position: relative; }
      header nav a:after {
        transition: 500ms all ease;
        content: '';
        opacity: 0;
        position: absolute;
        background-color: #D21312;
        width: 100%;
        height: 4px;
        border-radius: 8px;
        bottom: -8px;
        left: 0;
        transform: scaleX(0); }
      header nav a.active, header nav a:hover {
        color: #D21312; }
        header nav a.active:after, header nav a:hover:after {
          transform: scaleX(1);
          opacity: 1; }

#welcomeSlide .row {
  margin: 0; }
#welcomeSlide .welcomeSlide-container {
  max-width: 980px;
  width: 100%; }
  #welcomeSlide .welcomeSlide-container .welcomeSlide-item {
    padding: 0 !important;
    position: relative; }
    #welcomeSlide .welcomeSlide-container .welcomeSlide-item a img {
      transition: 500ms all ease;
      width: 100%; }
    #welcomeSlide .welcomeSlide-container .welcomeSlide-item a p {
      position: absolute;
      bottom: 8px;
      left: 16px;
      color: #FFFFFF;
      font-weight: 700;
      margin-bottom: 0; }
    #welcomeSlide .welcomeSlide-container .welcomeSlide-item a .icon-container {
      position: absolute;
      bottom: 6px;
      right: 14px;
      width: 32px;
      height: 32px;
      border: 1px solid transparent;
      transition: 300ms all ease;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center; }
      #welcomeSlide .welcomeSlide-container .welcomeSlide-item a .icon-container i {
        color: #FFFFFF;
        opacity: 0;
        transition: 800ms all ease; }
    #welcomeSlide .welcomeSlide-container .welcomeSlide-item a:hover img {
      transform: scale(1.1); }
    #welcomeSlide .welcomeSlide-container .welcomeSlide-item a:hover .icon-container {
      border-color: #FFFFFF; }
      #welcomeSlide .welcomeSlide-container .welcomeSlide-item a:hover .icon-container i {
        opacity: 1;
        transform: rotate(360deg); }

#packageList {
  background-color: #F0F2F8;
  padding: 64px 0; }
  #packageList .package-list-wrapper {
    padding: 32px;
    border-radius: 8px; }
    #packageList .package-list-wrapper .package-title-container {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px; }
      #packageList .package-list-wrapper .package-title-container i {
        margin-right: 16px; }
      #packageList .package-list-wrapper .package-title-container a {
        color: #070A52; }
    #packageList .package-list-wrapper .package-desc {
      font-size: 14px;
      font-weight: 300; }
    #packageList .package-list-wrapper .package-product-card {
      margin-top: 20px; }
      #packageList .package-list-wrapper .package-product-card:first-child {
        margin: 0; }
      #packageList .package-list-wrapper .package-product-card img {
        width: 240px;
        margin-right: 24px;
        border-radius: 8px; }
      #packageList .package-list-wrapper .package-product-card .cardInfoWrapper {
        width: 100%; }
        #packageList .package-list-wrapper .package-product-card .cardInfoWrapper .yacht-name {
          font-weight: 700;
          font-size: 24px; }
        #packageList .package-list-wrapper .package-product-card .cardInfoWrapper .yacht-price {
          font-weight: 700; }
          #packageList .package-list-wrapper .package-product-card .cardInfoWrapper .yacht-price span {
            font-weight: 300;
            font-size: 12px; }
        #packageList .package-list-wrapper .package-product-card .cardInfoWrapper .cardInfoContainer .otherInfos .otherInfo-container {
          margin-right: 16px;
          text-align: center; }
          #packageList .package-list-wrapper .package-product-card .cardInfoWrapper .cardInfoContainer .otherInfos .otherInfo-container:last-child {
            margin: 0; }
        #packageList .package-list-wrapper .package-product-card .cardInfoWrapper .cardInfoContainer .link-container a {
          padding: 12px 24px !important;
          border-radius: 8px;
          border: 2px solid #D21312;
          color: #D21312;
          font-weight: 700;
          transition: 500ms all ease-out; }
          #packageList .package-list-wrapper .package-product-card .cardInfoWrapper .cardInfoContainer .link-container a:hover {
            background-color: #F15A59;
            color: #FFFFFF; }

#otherInfos-list {
  background: linear-gradient(to left, #333a4b, #232835); }
  #otherInfos-list .otherInfos-wrapper .otherInfos-container {
    padding: 32px;
    margin-top: 32px; }
    #otherInfos-list .otherInfos-wrapper .otherInfos-container:nth-child(even) {
      flex-direction: row-reverse; }
      #otherInfos-list .otherInfos-wrapper .otherInfos-container:nth-child(even) .text-area {
        margin-right: 0;
        margin-left: 32px; }
    #otherInfos-list .otherInfos-wrapper .otherInfos-container:first-child {
      margin: 0; }
    #otherInfos-list .otherInfos-wrapper .otherInfos-container .text-area {
      max-width: 480px;
      margin-right: 32px; }
      #otherInfos-list .otherInfos-wrapper .otherInfos-container .text-area h3 {
        color: #FFFFFF;
        transition: 500ms all ease; }
        #otherInfos-list .otherInfos-wrapper .otherInfos-container .text-area h3:hover {
          color: #F15A59; }
      #otherInfos-list .otherInfos-wrapper .otherInfos-container .text-area .stick {
        width: 48px;
        height: 4px;
        background-color: #D21312;
        border-radius: 8px; }
      #otherInfos-list .otherInfos-wrapper .otherInfos-container .text-area p {
        color: #7B7D7D;
        font-size: 14px;
        font-weight: 300; }
    #otherInfos-list .otherInfos-wrapper .otherInfos-container .img-area {
      max-width: 480px; }
      #otherInfos-list .otherInfos-wrapper .otherInfos-container .img-area img {
        width: 100%;
        border-radius: 50% 20% / 10% 40%; }

#onBoarding-text {
  background: linear-gradient(to left, #333a4b, #232835);
  flex-direction: column;
  text-align: center; }
  #onBoarding-text h2 {
    color: #FFFFFF;
    transition: 300ms all ease-in-out; }
    #onBoarding-text h2:hover {
      color: #F15A59 !important; }
  #onBoarding-text p {
    color: #7B7D7D;
    font-size: 14px;
    font-weight: 300; }
    #onBoarding-text p a {
      color: #F15A59;
      transition: 500ms all ease-in-out; }
      #onBoarding-text p a:hover {
        color: #ED2B2A; }

#yachts-catalog {
  background: #F0F2F8;
  flex-direction: column; }
  #yachts-catalog p {
    margin: 0; }
  #yachts-catalog .container {
    margin-bottom: 48px; }
    #yachts-catalog .container:last-child {
      margin: 0; }
    #yachts-catalog .container .catalog-card-wrapper {
      border-radius: 8px;
      background: #FFFFFF;
      padding: 32px; }
      #yachts-catalog .container .catalog-card-wrapper .yacht-name {
        font-size: 48px;
        color: #070A52;
        font-weight: 700; }
      #yachts-catalog .container .catalog-card-wrapper .yacht-infos-container .yacht-info {
        border-right: 2px solid white;
        background-color: #f2f2f2;
        padding: 8px 16px;
        border-radius: 2px; }
        #yachts-catalog .container .catalog-card-wrapper .yacht-infos-container .yacht-info .info-title {
          font-size: 14px;
          font-weight: 300; }
        #yachts-catalog .container .catalog-card-wrapper .yacht-infos-container .yacht-info .info-text {
          font-size: 20px;
          font-weight: 500;
          margin-left: 4px; }
    #yachts-catalog .container img {
      width: 100%;
      border-top-left-radius: 16px;
      border-bottom-right-radius: 16px; }
    #yachts-catalog .container .controller-item-wrapper {
      position: relative; }
      #yachts-catalog .container .controller-item-wrapper .controller-item-container {
        margin-right: 48px; }
        #yachts-catalog .container .controller-item-wrapper .controller-item-container:after {
          margin: 0; }
        #yachts-catalog .container .controller-item-wrapper .controller-item-container .controller-item-title {
          font-size: 12px;
          font-weight: 300;
          text-transform: uppercase; }
      #yachts-catalog .container .controller-item-wrapper i {
        font-size: 24px;
        color: #D21312;
        margin-right: 16px; }
      #yachts-catalog .container .controller-item-wrapper .btn {
        padding: 12px 24px !important;
        border-radius: 8px;
        border: 2px solid #D21312;
        color: #D21312;
        font-weight: 700;
        transition: 500ms all ease-out; }
        #yachts-catalog .container .controller-item-wrapper .btn:hover {
          background-color: #F15A59;
          color: #FFFFFF;
          transform: scale(1.1); }

footer {
  background-color: #F0F2F8;
  width: 100%;
  padding: 32px 64px 0 64px; }
  footer .companyInfos-area a {
    color: #070A52;
    display: block; }
    footer .companyInfos-area a i {
      margin-right: 8px; }
  footer .companyInfos-area img {
    height: 100px; }
  footer .companyInfos-area .adress i {
    margin-right: 8px; }
  footer .companyInfos-area .adress p {
    max-width: 360px;
    margin: 0; }
  footer .companyInfos-area .socialMedia-infos .socialMedia-container {
    margin-right: 16px; }
    footer .companyInfos-area .socialMedia-infos .socialMedia-container:last-child {
      margin: 0; }
    footer .companyInfos-area .socialMedia-infos .socialMedia-container a {
      background: linear-gradient(to left, #333a4b, #232835);
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      padding: 0;
      color: #FFFFFF;
      font-weight: 700;
      justify-content: center;
      border-radius: 50%;
      transition: 400ms all ease-in-out;
      margin: 0; }
      footer .companyInfos-area .socialMedia-infos .socialMedia-container a:hover {
        color: #D21312;
        transform: rotate(360deg); }
      footer .companyInfos-area .socialMedia-infos .socialMedia-container a i {
        margin: 0 !important; }
  footer .links-area {
    max-width: 360px;
    width: 100%; }
    footer .links-area ul li {
      display: flex;
      justify-content: flex-end;
      margin-top: 8px; }
      footer .links-area ul li:before {
        display: none; }
      footer .links-area ul li:first-child {
        margin-top: 0; }
      footer .links-area ul li a {
        color: #070A52;
        transition: 300ms all ease;
        font-weight: 500; }
        footer .links-area ul li a:hover {
          color: #D21312; }
  footer .copyRight-text {
    margin-top: 16px;
    border-top: 1px solid #070A52;
    padding-top: 12px; }
    footer .copyRight-text p {
      font-size: 14px;
      font-weight: 700; }

/*# sourceMappingURL=myStyle.css.map */
